<div id="<%= dom_id todo %>">
  <p>
    <strong>Name:</strong>
    <%= todo.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= todo.active %>
  </p>

  <p>
    <strong>Description:</strong>
    <div data-controller="syntax-highlight" class="lexxy-content">
      <%= todo.description %>
    </div>
  </p>
</div>
